<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lomis.dao.one.UserDao" >
	<resultMap id="baseResultMap" type="cn.lomis.po.one.User" >
	    <id     column="id"   property="id"   jdbcType="BIGINT" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="pwd"  property="pwd"  jdbcType="VARCHAR" />
	    <result column="age"  property="age"  jdbcType="INTEGER" />
	</resultMap>
	
	<insert id="insert" parameterType="cn.lomis.po.one.User">
		insert into user (		
			name,
			pwd,
			age
		) 
		values(
			#{name},
			#{pwd},
			#{age}
		)
	</insert>
	
	<delete id="delete">
		delete from user where id=#{id}
	</delete>
	
	<update id="update" parameterType="cn.lomis.po.one.User">
		update user
		 <set>
		 	<if test="name != null">name = #{name} ,</if>
		 	<if test="pwd != null">pwd = #{pwd},</if>
		 	<if test="age != null">age = #{age} ,</if>
		 </set>
		where id = #{id}
	</update>
	
	<select id="getUser" resultType="cn.lomis.po.one.User">
		select * from user where id = #{id} 
	</select>
	
	<select id="findUser" resultType="cn.lomis.po.one.User">
		select * from user
	</select>
	
</mapper>